body {
    background: rgba(2, 58, 12, 0.99);
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-align: center;
}

canvas {
    background: rgb(38, 206, 15);
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0.4rem 0.4rem 0.2rem #000a;
}

button {
    padding: 0.9rem;
    background-color: #00085f;
    color: white;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem black;
    box-shadow: 0.2rem 0.2rem black;
}

button:hover {
    background-color: #01658d;
}

button.active {
    background-color: #018d53;
}

a {
    color: #26b4ec;
}

.botonera {
    margin-bottom: 2rem;
}